<form method="post" style='display:inline;' action="{{ path('app_answers_delete', {'id': answer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input style='display:inline;' type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer.id) }}">
    <button style='display:inline;' class="fa-sharp fa-solid fa-eraser  btn-danger delrep"></button> 
</form>
