<form method="post" style='display:inline;' action="{{ path('app_questions_delete', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" style='display:inline;' name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn-danger mb-3" style='display:inline;'><i class="fa-solid fa-trash"></i></button>
</form>
