{% extends 'base.html.twig' %}

{% block title %}Quizes{% endblock %}


{% block body %}
<script>function hideDiv() {
      var divElement = document.getElementById("navbarNav");
      divElement.remove();
      document.addEventListener('contextmenu', function(event) {
      event.preventDefault();
    });
    }</script>
<body onload="hideDiv()">

{% if nbr_tries < quize.maxTries or quize.maxTries is null %}
    {# Your code here #}
<script>

   var myDictionary = {};

  {% for question in questions %}
  var questionText = "{{ question.text }}";
  var questionId = "{{ question.id }}";

  var answersArray = [];

  {% for answer in question.getAnswers() %}
  var answerId = "{{ answer.id }}";
  var answerText = "{{ answer.text }}";

  var answerObject = {
    id: answerId,
    text: answerText
  };

  answersArray.push(answerObject);
  {% endfor %}

  var key = [questionText, questionId];
  myDictionary[key] = answersArray;
  {% endfor %}
</script>
<style>

  .card {
    background-color: lightblue;
    padding: 20px;
    margin:250px auto;
    width: 50%;
    border-radius: 5px;
  }

  #questionText {
    text-align: center;
  }

  #nextButton {
    display: block;
    margin: 0 auto;
  }

  .answer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .answer input[type="checkbox"] {
    margin-right: 10px;
  }
  .btn-success{
    border-radius:50px;
  }
</style>

<div class="card">
  <button id="showButton" type="button" class="btn-success">Start Quiz</button>
  <form method="POST" action="#" id="quizForm" style="display: none;">
    <div id="questionContainer">
      <h2 id="questionText">There are no questions</h2>
      <hr>
      <ul id="answersList">

      </ul>
    </div>
    <button id="nextButton" type="button">Next Question</button>
  </form>
</div>

<script>
  const showButton = document.getElementById("showButton");
  const quizForm = document.getElementById("quizForm");

  showButton.addEventListener("click", function() {

    quizForm.style.display = "block";
    showButton.style.display = "none";
    if (document.documentElement.requestFullscreen) {
    document.documentElement.requestFullscreen();
  } else if (document.documentElement.mozRequestFullScreen) { // Firefox
    document.documentElement.mozRequestFullScreen();
  } else if (document.documentElement.webkitRequestFullscreen) { // Chrome, Safari, Opera
    document.documentElement.webkitRequestFullscreen();
  } else if (document.documentElement.msRequestFullscreen) { // IE/Edge
    document.documentElement.msRequestFullscreen();
  }

  });
  var currentIndex = 0;
  var questionTextElement = document.getElementById('questionText');
  var answersListElement = document.getElementById('answersList');
  var selectedAnswers = [];

  function loadQuestion() {
    var questionKeys = Object.keys(myDictionary);

    var QuestionText = questionKeys[currentIndex].split(',')[0];
    var QuestionId = questionKeys[currentIndex].split(',')[1];

    var currentQuestionText = questionKeys[currentIndex];
    var currentQuestionAnswers = myDictionary[currentQuestionText];

    questionTextElement.textContent = QuestionText;
    answersListElement.innerHTML = '';

    currentQuestionAnswers.forEach(function(answer) {
      var li = document.createElement('li');
      li.className = 'answer';
      var label = document.createElement('label');
      var input = document.createElement('input');

      input.type = 'checkbox';
      input.name = 'question_' + QuestionId + '[]';
      input.value = answer.id;
      input.id = 'answer_' + QuestionId + '_' + answer.id;

      label.htmlFor = 'answer_' + QuestionId + '_' + answer.id;
      label.appendChild(input);
      label.appendChild(document.createTextNode(answer.text));

      li.appendChild(label);
      answersListElement.appendChild(li);
    });
  }

  function nextQuestion() {
    currentIndex++;
    console.log(currentIndex);
    var len = Object.keys(myDictionary).length;
    if (currentIndex >= Object.keys(myDictionary).length) {
      console.log('End of questions');
      document.getElementById('nextButton').style.display = 'none';
      document.getElementById('submitButton').style.display = 'block';
    } else {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
      checkboxes.forEach(function(checkbox) {
        console.log(checkbox.value);
      selectedAnswers.push(checkbox.value);
    });

    if (currentIndex == Object.keys(myDictionary).length) {
        var btn = document.getElementById('nextButton');
        btn.type="submit";
        btn.innerHTML="submit";
    }
    if (currentIndex < len ){
      loadQuestion();
    }
    }
  }

  function submitQuiz() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
      checkboxes.forEach(function(checkbox) {
        console.log(checkbox.value);
      selectedAnswers.push(checkbox.value);
    });
    // Get the selected answers
    // Submit the form with the selected answers
    var form = document.getElementById('quizForm');
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'selectedAnswers';
    input.value = JSON.stringify(selectedAnswers);
    form.appendChild(input);
    form.submit();
  }
    var len = Object.keys(myDictionary).length;

function checkFormSubmission() {
  // Check if the form is submitted
  if (currentIndex == len - 1) {
    // Form submitted, do something
    console.log('Form submitted');
    var btn = document.getElementById('nextButton');
        btn.innerHTML="submit";
    btn.addEventListener('click', submitQuiz);
    clearInterval(intervalId); // Stop the interval
  }
}
var intervalId = setInterval(checkFormSubmission, 50);

  var nextButton = document.getElementById('nextButton');
  nextButton.addEventListener('click', nextQuestion);

  loadQuestion();
</script>


{% else %}
  <h1>You have exceeded the maximum number of tries.</h1>
{% endif %}

</body>
{% endblock %}