{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
  <h1>My Quizzes</h1>
  <ul>
    {% for quiz in quizes %}
      <li>
        <div>
          <span class="label">Title:</span>{{ quiz.title }}
          <span class="label">Code:</span>{{ quiz.code }}
        </div>
        <div>
          <a type="button" class="btn-primary edit" href="{{ path('app_quizes_edit', {'id': quiz.id}) }}">Edit</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
